body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.Name-Color{
    color: rgb(10, 44, 156);
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.hw{
    width: 60%;
    padding-left: 5%;
}
.hw img{
    width: 80%;
}
.linkButton{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(34, 0, 112), rgb(0, 121, 143));
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.topBanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.AboutMe{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
}
.Experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}
.hw2{
    width: 50%;
    margin-left: 10px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 40px;
    box-shadow: 10px 10px 20px rgb(27, 30, 230);
    border-radius: 5px;
}
#bd{
    border-left: 5px solid;
    border-image: linear-gradient(blue, rgb(255, 3, 3));
    border-image-slice: 1;
}
#pd{
    border-right: 5px solid;
    border-image: linear-gradient(rgb(54, 199, 10), rgb(255, 17, 17));
    border-image-slice: 1;
}
footer p {
    text-align: center;
}
