body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.Name-Color{
    color: rgb(10, 44, 156);
}
section{
    display: flex;
    margin-bottom: 50px;
}
.hw{
    width: 60%;
    padding-left: 5%;
}
.hw img{
    width: 80%;
}
.linkButton{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(34, 0, 112), rgb(0, 121, 143));
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.topBanner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.AboutMe{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
}
